<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Auditor</title>
</head>
<body>

<h1>Insertar</h1>
<form action="#" th:action="@{/auditors/agregarAuditor}" th:object="${auditor}" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}" id="nombre"/>
    <label for="primerApellido">Primer Apellido</label>
    <input type="text" th:field="*{primerApellido}" id="primerApellido"/>
    <label for="segundoApellido">Segundo Apellido</label>
    <input type="text" th:field="*{segundoApellido}" id="segundoApellido"/>
    <label for="direccion">Direccion</label>
    <input type="text" th:field="*{direccion}" id="direccion"/>
    <label for="telefono">Telefono</label>
    <input type="text" th:field="*{telefono}" id="telefono"/>
    <label for="fechaNacimiento">Fecha de Nacimiento</label>
    <input type="date" th:field="*{fechaNacimiento}" id="fechaNacimiento"/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="disponibilidad">Disponibilidad</label>
    <input type="date" th:field="*{disponibilidad}" id="disponibilidad"/>
    <label for="especialidad">Especialidad</label>
    <input type="text" th:field="*{especialidad}" id="especialidad"/>
    <input type="submit" value="add entry">
</form>

</body>
</html>