<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Gestiones de Audtioria</title>
</head>
<body>

    <h1>Menu de empresa: TeLoAuditoYTeCobro</h1>

    <div>
        <input type="button" onclick="location.href='/auditors/agregarAuditor';" value="Agregar Auditor" />
    </div>
    <br>
    <div>
        <input type="button" onclick="location.href='/auditors/listarAuditores';" value="Ver Auditores" />
    </div>
    <br>
    <div>
        <input type="button" onclick="location.href='/clientes/registrarCliente';" value="Registrar Cliente" />
    </div>
    <br>
    <div>
        <input type="button" onclick="location.href='/personas/registrarPersona';" value="Registrar Persona" />
    </div>
    <br>
    <div>
        <input type="button" onclick="location.href='/auditors/agregarAuditor';" value="Agregar Trabajo" />
    </div>

</body>
</html>